{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<style>
.center {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


</style>

<div class="login container">

    <h1 class="font-monospace fw-semibold text-center" style="margin-top: 20px;">Register</h1>

    <div style="padding-top: 15px;">

        <form method="POST">
            {% csrf_token %}
            <br/>
        
            <div class="input-group" style="margin-left: 555px;" >
                <span class="input"></span>
                <input required name="username" id="username" type="text" class="form-input" placeholder="username"> 
                
            </div>
            <div class="input-group" style="margin-left: 555px; margin-top: 20px;">
                <span id="passwordMeter"></span>
                <input required name="password1" id="password1" type="password" class="form-input" placeholder="password" maxlength="22" minlength="8"> 
                
            </div>
            <div class="input-group" style="margin-left: 555px; margin-top: 20px;">
                <span id="passwordMeter"></span>
                <input required name="password2" id="password2" type="password" class="form-input" placeholder="password confirmation" maxlength="22" minlength="8">
                
            </div>
              
                <button type="submit" value="Sign Up" title="Submit form" class="icon-arrow-right" style="margin-left: 610px; margin-top: 20px;"><span>Submit</span></button>

          </form>
        
    </div>
    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
</div>


{% endblock content %}