{% extends 'base.html' %}

{% block content %}
<h1>Selamat datang, {{username}}!</h1>

<table>
    <tr>
    <th>Tanggal Pembuatan</th>
    <th>Judul</th>
    <th>Deskripsi</th>
    <th>Status</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for todo in todolist %}
        <tr>
            <th>{{todo.date}}</th>
            <th>{{todo.title}}</th>
            <th>{{todo.description}}</th>
            {% if todo.is_finished %}
                <td>Sudah Kelar</td>
            {% else %}
                <td>Belum nih!</td>
            {% endif %}
            <th>
                <a href="{% url 'todolist:update_task' todo.pk %}">Ubah status</a>
                <a href="{% url 'todolist:delete_task' todo.pk %}">Delete</a>
            </th>
        </tr>
    {% endfor %}
</table>

<button><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
{% endblock content %}